
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');
body{
  font-family: "PT Sans",sans-serif;
  width: 700px;
  margin: 0 auto 0 auto;
  background-image: url(../img/dc-online-media-mockup.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px 20624px;
}
h1{
  font-size: 45px;
  font-weight: 700;
  margin-top: 62px;
}
h1+p{
  font-size: 23px;
  color: #A9A9A9;
  line-height: 33px;
  margin-top: 4px;
}

p+p{
  font-size: 23px;
  line-height: 33px;
  color: black;
  margin-top: 28px;

}
h2+p{
  margin-top: 10px;
}
h2{
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;

}
h3{
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
}
blockquote{
  font-size: 23px;
  font-style: italic;
}
li{
  font-size: 23px;
  margin-top: 18px;

}
h2+p{
  margin-top: 24px;

}
p{
  font-size: 23px;
}
